#peliculas {
    background: #ccc;
    width: 250px;
    height: 500px;
    padding: 5px;
    border: 1px dashed black;
    margin: 5px;
    float: left;
}

#peliculas ul li {
    background: white;
}

.caja {
    height: 500px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    float: left;
}